:root {
  font-size: 20px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  --gray-background-color: #ded8d8;
  --red-color: #fe3130;
  --yellow-color: #fcba03;
  background-color: var(--gray-background-color);
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.top-banner {
  width: 70%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.left {
  height: 100%;
  display: flex;
  gap: 5rem;
  align-items: center;
}

.left > a > img {
  height: 100%;
  width: auto;
}

.left > * {
  flex: 0 0 auto;
}

.search-bar {
  height: 100%;
  display: flex;
  align-items: center;
}

input[type="search"] {
  appearance: none;
  height: 80%;
  width: 20rem;
  border-radius: 4px 0 0 4px;
  outline: 0;
  font-size: 1rem;
}

.search-bar > button {
  appearance: none;
  height: 80%;
  border: 0;
  background-color: var(--red-color);
  color: white;
  font-size: 1rem;
  border-radius: 0 4px 4px 0;
  padding: 6px;
}

p {
  display: inline;
}

.nav-wrapper {
  width: 100%;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
}

.nav {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.nav * {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.menu > a {
  text-decoration: none;
  color: black;
}

.menu > a:hover {
  text-decoration: underline;
}

.grid {
  flex: 1;
  width: 70vw;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 0;
}

.grid-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-background-color);
}

.offer {
  height: auto;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 20px;
  background-color: white;
}

.offer > img {
  padding: 0.2rem;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: white;
  object-fit: contain;
}

.offer-details > p {
  display: block;
  margin: 0.5rem 0;
}

p.price {
  font-size: 0.85rem;
  color: var(--red-color);
  margin-bottom: 0;
}

.price::after {
  content: " zł";
}

.item-name {
  text-align: center;
  font-weight: 600;
}

.star {
  color: var(--yellow-color);
}

.add-button {
  margin-top: 1rem;
  padding: 0.3rem;
  font-size: 0.7rem;
  border: solid 1px black;
  background-color: var(--red-color);
  color: white;
  float: right;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 0px #bab375;
}

.main-wrapper {
  background-color: var(--gray-background-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.cart-item {
  display: flex;
  width: 100%;
  border: 1px solid darkgrey;
  border-radius: 4px;
  margin: 0.5rem 0;
  background-color: white;
}

.cart-item > p {
  margin: 2rem 0;
}

.details {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.details > * {
  display: flex;
  align-content: start;
  padding: 1rem;
  gap: 2rem;
}

.details-primary img {
  padding: 0.2rem;
  width: 30%;
  aspect-ratio: 1/1;
  background-color: white;
  object-fit: contain;
}

.details-primary > p {
  margin: 2rem 0;
}

.details-secondary > * {
  margin: 2rem 0;
}

.cart-item > p {
  text-align: right;
  flex: 1;
  padding: 1rem;
}

.cart-item > .price {
  font-size: 1rem;
}

.quantity-button {
  display: flex;
  width: 96px;
  height: 32px;
  margin: 2rem 0;
}

.quantity-button > * {
  width: 32px;
  margin: 0;
  font-size: 0.9rem;
  border: 1px solid darkgrey;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.delete-cart-item {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  height: 32px;
}

.delete-cart-item > * {
  margin: 1rem 0;
  color: gray;
}

.cart-sum {
  width: 20%;
  align-self: flex-end;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  border: solid 1px darkgrey;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 1rem;
}

.cart-continue-button {
  margin-top: 1rem;
  width: 80%;
  background-color: var(--red-color);
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

.main-search {
  margin-top: 3rem;
  width: 60%;
}

.main-search-w {
  display: flex;
  gap: 20px;
}

.main-search-w > * {
  margin-top: 1rem;
}

.filters {
  margin-top: 1.5rem;
  width: 25%;
  border: 1px solid darkgrey;
  border-radius: 4px;
  background-color: white;
  height: min-content;
  padding: 1rem;
}

.top-banner-wrapper {
  padding: 5px 0 5px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow {
  flex-grow: 1;
  min-width: 0;
}

.details-info {
  display: flex;
  flex-direction: column;
}

p.big-price {
  font-size: 1.1rem;
  color: var(--red-color);
  margin-bottom: 0;
}

.big-price::after {
  content: " zł";
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-wrapper > button {
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  width: 150px;
}

#price-range {
  height: 10px;
  margin: 0.5rem 0.5rem;
}

#price-range .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px;
  border-radius: 9px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 1rem 0;
}

.filter p {
  margin: 0;
}

/*headers*/
h4 {
  margin: 0.2rem 0;
}

.big-btn {
  margin-top: 0.5rem;
  padding: 0.3rem;
  border: solid 1px black;
  background-color: var(--red-color);
  color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 3px 0px #bab375;
  font-size: 1.3rem;
  font-weight: 600;
  width: 150px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-wrap {
  width: 100%;
  padding-top: 4rem;
}

.contact {
  width: 30%;
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.login_form {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 15%;
  border: 1px solid darkgrey;
  background-color: white;
}

.login_form > p {
  margin: 0;
}

.login_form > fieldset {
  border: none;
  padding: 0;
}

.login_form > fieldset > input {
  margin-top: 5px;
  padding: 2px;
}

.login_form > fieldset > input:required + span{
  position: relative;
}

.login_form > fieldset > input:required + span:before {
  position: absolute;
  left: 2px;
  content:'*' ;
  color: red;
}

.login_form > fieldset > label {
  font-size: 0.8rem;
  opacity: 0.7;
}

.login_btn {
  margin-top: 0.5rem;
  padding: 0.3rem;
  border: solid 1px black;
  background-color: var(--red-color);
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  width: 150px;
}

.account-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  width: 100%;
}

.account-info > p {
  margin: 0;
  font-size: 0.9rem;
}

.registration_form{
  align-items: start;
}

.registration_form > fieldset > label{
  font-size: 0.7rem;
}