<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />
    <script defer src="adjust_price.js"></script>
    <title>Sklep RTV</title>
  </head>
  <body>
    <header th:replace="top-banner :: header"></header>
    <div class="flex-center contact-wrap">
      <div class="contact">
        <h4 style="align-self: center">Kontakt</h4>
        <p class="flex-row">
          <span class="material-symbols-outlined"> mail </span>
          Email: rtv@gmail.com
        </p>
        <p class="flex-row">
          <span class="material-symbols-outlined"> call </span>
          Tel: (+48) 123 456 789
        </p>
      </div>
    </div>
  </body>
</html>
