<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="styles.css" rel="stylesheet"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="adjust_price.js" defer></script>
    <title>Sklep RTV</title>
</head>
<body>
<div class="top-banner">
    <div class="left">
        <img src="img/logo.png" alt="Shop logo"/>
        <form action="http://localhost:8080/search" method="get">
            <div class="search-bar">
                <input type="search" name="name"/>
                <button type="submit">Szukaj</button>
            </div>
        </form>
    </div>
    <span class="menu-wrapper">
        <p class="menu">
          <span class="material-symbols-outlined"> person </span
          ><a href="">Zaloguj się</a>
        </p>
        <p class="menu">
          <span class="material-symbols-outlined"> shopping_basket </span>
          <a th:href="@{'cart'}">Koszyk</a>
        </p>
        <p class="menu">
          <span class="material-symbols-outlined"> call </span
          ><a href="">Kontakt</a>
        </p>
      </span>
</div>
<div class="nav-wrapper">
    <div class="nav">
        <p><a href="">Telewizory</a></p>
        <p><a href="">Duże AGD</a></p>
        <p>
            <a href="">Małe AGD</a>
        </p>
        <p>
            <a href="">Smartfony</a>
        </p>
        <p>
            <a href="">Komputery</a>
        </p>
    </div>
</div>
<div class="grid-wrapper">
    <div class="grid">
        <div class="offer" th:each="item : ${items}">
            <img
                    th:src="${item.img}"
                    th:alt="${item.name}"
            />
            <div class="offer-details">
                <p class="item-name" th:text="${item.name}"></p>
                <p class="price" th:text="${item.price}"></p>
                <div class="ratings">
              <span
                      th:each="i : ${#numbers.sequence(1, item.rating)}"
                      class="material-symbols-outlined star"
                      style="font-variation-settings: 'FILL' 1"
              >
                star
              </span>
                    <span
                            th:if="${item.rating % 1 > 0}"
                            class="material-symbols-outlined star"
                            style="font-variation-settings: 'FILL' 1"
                    >
                star_half
              </span>
                    <th:block
                            th:with="roundedRating=${item.rating % 1 > 0 ? item.rating.intValue() + 1 : item.rating.intValue()}"
                    >
                <span
                        th:if="${roundedRating < 5}"
                        th:each="i : ${#numbers.sequence(1, 5 - roundedRating)}"
                        class="material-symbols-outlined star"
                        style="font-variation-settings: 'FILL' 0"
                >
                  star
                </span>
                    </th:block>
                    <a th:href="@{'add/' + ${item.id}}">
                        <button class="add-button">
                            Dodaj do koszyka
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
