<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Koszyk</title>
  <link href="styles.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    rel="stylesheet"
  />
  <script defer src="adjust_price.js"></script>
  <script defer src="increment-decrement.js"></script>
</head>
<body>
<header th:replace="~{top-banner :: header}"></header>
<div class="main-wrapper">
  <div class="login_form" style="width: 300px" th:if="${orders} == null">
    <p class="cart-header">Brak zamówień</p>
    <br>
    <a href="/">Wróć do sklepu</a>
  </div>
  <div class="main" th:if="${orders}">
    <p class="cart-header">
      Twoje zamówienia (<span th:text="${orders.size()}"></span>)
    </p>
    <div class="order" th:each="order : ${orders}">
      <p>Kod zamówienia: <span th:text="${order.id}"></span></p>
      <p>Data złożenia: <span th:text="${order.date}"></span></p>
      <p>Status: <span th:text="${order.status}"></span></p>
      <p>Produkty:</p>
      <div style="width: 100%">
        <div class="product" th:each="cartItem : ${order.cart.cartItems}">
            <div class="details-primary">
              <img th:alt="${cartItem.item.name}" th:src="${cartItem.item.img}" style="width: 200px"/>
              <p th:text="${cartItem.item.name}"></p>
            </div>
          <div>
            <div class="details-secondary">
              <p>Cena: <span th:text="${cartItem.item.price}"></span></p>
            </div>
            <div class="details-secondary">
              <p>Ilość: <span th:text="${cartItem.counter}"></span></p>
            </div>
          </div>
          <div class="details-secondary">
            <p class="price">Suma: <span th:text="${cartItem.sum}" style="font-size: 1.2rem"></span>
          </div>
        </div>
        <div class="flex-row">
          <div style="flex-grow: 1"></div>
          <p class="price price_big" style="justify-self: end">Suma: <span th:text="${order.cart.price}"  ></span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
