<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Rejestracja</title>
    <link href="styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />
    <script defer src="adjust_price.js"></script>
  </head>
  <body>
    <header th:replace="top-banner :: header"></header>
    <div class="main-wrapper">
      <form
        class="login_form registration_form"
        method="post"
        th:action="@{/register}"
      >
        <p style="align-self: center">Zarejestruj się</p>
        <fieldset>
          <legend>Konto</legend>
          <label for="username">Nazwa użytkownika:</label>
          <br />
          <input
            id="username"
            name="username"
            placeholder="Nazwa użytkownika"
            required
            type="text"
          />
          <span></span>
          <br />
          <label for="password">Hasło</label>
          <br />
          <input
            id="password"
            name="password"
            placeholder="Hasło"
            required
            type="password"
          />
          <span></span>
        </fieldset>
        <fieldset>
          <legend>Dane kontaktowe</legend>
          <label for="firstName">Imię:</label>
          <br />
          <input
            id="firstName"
            name="firstName"
            placeholder="Imię"
            required
            type="text"
          />
          <span></span>
          <br />
          <label for="lastName">Nazwisko:</label>
          <br />
          <input
            id="lastName"
            name="lastName"
            placeholder="Nazwisko"
            required
            type="text"
          />
          <span></span>
          <br />
          <label for="email">Email:</label>
          <br />
          <input
            id="email"
            name="email"
            placeholder="Email"
            required
            type="email"
          />
          <span></span>
        </fieldset>
        <fieldset>
          <legend>Adres</legend>
          <label for="city">Miasto:</label>
          <br />
          <input
            id="city"
            name="city"
            placeholder="Miasto"
            required
            type="text"
          />
          <span></span>
          <br />
          <label for="street">Ulica:</label>
          <br />
          <input
            id="street"
            name="street"
            placeholder="Ulica"
            required
            type="text"
          />
          <span></span>
          <br />
          <label for="buildingNo">Numer budynku:</label>
          <br />
          <input
            id="buildingNo"
            name="buildingNo"
            placeholder="Numer budynku"
            required
            type="text"
          />
          <span></span>
          <br />
          <label for="apartmentNo">Numer mieszkania:</label>
          <br />
          <input
            id="apartmentNo"
            name="apartmentNo"
            placeholder="Numer mieszkania"
            type="text"
          />
          <span></span>
          <br />
          <label for="zip">Kod pocztowy:</label>
          <br />
          <input
            id="zip"
            name="zip"
            placeholder="Kod pocztowy"
            required
            type="text"
          />
          <span></span>
        </fieldset>
        <p style="align-self: start; font-size: 0.8rem">* - wymagane pole</p>
        <button class="login_btn" type="submit">Zarejestruj się</button>
      </form>
    </div>
  </body>
</html>
