<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div style="width: 100%" th:fragment="header">
      <div class="top-banner-wrapper">
        <div class="top-banner">
          <div class="left">
            <a style="height: 100%" th:href="@{'home'}">
              <img alt="Shop logo" src="img/logo.png" />
            </a>
            <form class="search-bar" method="get" th:action="@{'search'}">
              <input name="name" type="search" />
              <button type="submit">Szukaj</button>
            </form>
          </div>
          <span class="menu-wrapper">
            <p class="menu">
              <span class="material-symbols-outlined"> person </span>
              <a href="">Zaloguj się</a>
            </p>
            <p class="menu">
              <span class="material-symbols-outlined"> shopping_basket </span>
              <a th:href="@{'cart'}">Koszyk</a>
            </p>
            <p class="menu">
              <span class="material-symbols-outlined"> call </span>
              <a th:href="@{'/contact'}">Kontakt</a>
            </p>
          </span>
        </div>
      </div>
      <div class="nav-wrapper">
        <div class="nav">
          <p>
            <a th:href="@{'search?category=TV'}">Telewizory</a>
          </p>
          <p>
            <a th:href="@{'search?category=BIG_AGD'}">Duże AGD</a>
          </p>
          <p>
            <a th:href="@{'search?category=SMALL_AGD'}">Małe AGD</a>
          </p>
          <p>
            <a th:href="@{'search?category=PHONE'}">Smartfony</a>
          </p>
          <p>
            <a th:href="@{'search?category=COMPUTER'}">Komputery</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
