<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Panel użytkownika</title>
    <link href="styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />
    <script defer src="adjust_price.js"></script>
  </head>
  <body>
    <header th:replace="top-banner :: header"></header>
    <div class="main-wrapper">
      <div class="main"></div>
    </div>
  </body>
</html>
